/target/classes/com/nk/demo/config/MybatisPlusConfig.class
/target/classes/com/nk/demo/config/SpringConfig.class
/target/classes/com/nk/demo/config/ThreadPoolConfig.class
/target/classes/com/nk/demo/controller/AddressController.class
/target/classes/com/nk/demo/controller/CarStatisticsController.class
/target/classes/com/nk/demo/controller/IpController$IpDetail.class
/target/classes/com/nk/demo/controller/IpController.class
/target/classes/com/nk/demo/entity/Address.class
/target/classes/com/nk/demo/entity/BaseEntity.class
/target/classes/com/nk/demo/entity/CarStatistics.class
/target/classes/com/nk/demo/entity/PaperFileVersionEntity.class
/target/classes/com/nk/demo/entity/User.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/AccidentInformationResponse$AccidentClaimPaper.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/AccidentInformationResponse$AccidentLevel.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/AccidentInformationResponse$AccidentLiability.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/AccidentInformationResponse$CauseInfo.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/AccidentInformationResponse$ClosedState.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/AccidentInformationResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/AccidentLevelLiabilityStatResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/BasicInfoByOrgIdResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/BasicInfoPictureResponse$FileBusinessType.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/BasicInfoPictureResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/BasicInfoResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/ChargeInformationResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/ClaimStatsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/CollateralResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/CountStatsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/DisposalInformationResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/DisposalResponse$DisposalType.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/DisposalResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/FuellingInformationResponse$FuellingType.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/FuellingInformationResponse$UseCard.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/FuellingInformationResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetCumulativeOperationAnalysisResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetCumulativeOperationMonthResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetCumulativeOperationResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetExaminedInfoResponse$ExaminedType.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetExaminedInfoResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetExaminedRecordResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetTerminalDetailResponse$BindStatus.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetTerminalDetailResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetTerminalMileDetailResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/GetTerminalMileMonthDetailResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/Group.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/InfractionItemsResponse$TransactionMatters.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/InfractionItemsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/InsuranceCurrentYearResponse$CommercialDetails.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/InsuranceCurrentYearResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/InsuranceResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/Item.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/LicenseFilesRegisterConvertResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/LicenseFilesRegisterResponse$LicenseFileItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/LicenseFilesRegisterResponse$VehicleDriverLicense.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/LicenseFilesRegisterResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/LincenseFilesResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceMaintenanceRecordsResponse$AccidentLevel.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceMaintenanceRecordsResponse$AccidentLiability.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceMaintenanceRecordsResponse$PartDetailVO.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceMaintenanceRecordsResponse$ProjectDetailVO.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceMaintenanceRecordsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceRecordsResponse$AccidentLevel.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceRecordsResponse$AccidentLiability.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceRecordsResponse$PartDetailVO.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceRecordsResponse$ProjectDetailVO.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/MaintenanceRecordsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/PlateChangeHistoryResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/PurchaseInvoiceFullResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/RepairStatsCurrentYearResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/RepairStatsFeeTotalResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/RepairStatsGetCurrentYearPartFeeTop10Response.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/RepairStatsRepairAccessoriesResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/RepairStatsTotalBarchartResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/RepairStatsTotalResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/VehicleAssetValueResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/VehicleInsuranceCoreResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/VehicleOwnershipAndPurchaseResponse$GainingMethod.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/VehicleOwnershipAndPurchaseResponse$PurchaseType.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/VehicleOwnershipAndPurchaseResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/ViolationRecordsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/luobao/YearlyClaimStatsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetAccidentDetailResponse$GetAccidentDetailItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetAccidentDetailResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetAllCarsByOrganItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetAllOrgansItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetApplyLogItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetAssessDetail.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetAuctionCarDetail.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetAuctionDetail.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarApplyDetail.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarBigEventResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarConfigResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarDisposalResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarOperationFeeResponse$CarMonthCount.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarOperationFeeResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarsCompileDetail.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarsDetailResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarsDispose.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarsDisposeByAge.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarsDisposeByMiles.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarsFinanceByDispose.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetCarUpdateApplyItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetChangeDetail.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetChargeStatisticsItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetChargeStatisticsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetEtcDetailItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetEtcStatisticsItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetEtcStatisticsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetInsuranceDataResponse$GetInsuranceDataItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetInsuranceDataResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetMilesItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetMilesStatisticsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetMotDetailItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetMotIdItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetNewCarDetail.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetOilDetailItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetOilStatisticsItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetOilStatisticsResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetProposedEquipDetail.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetRepairDetailItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetRepairIdItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetScrapDetail.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetViolationDetailItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetViolationDetailResponse$GetViolationDetailItem.class
/target/classes/com/nk/demo/feign/response/dataRepo/GetViolationDetailResponse.class
/target/classes/com/nk/demo/feign/response/dataRepo/OrganInfoResponse.class
/target/classes/com/nk/demo/feign/CarFeignClient.class
/target/classes/com/nk/demo/feign/ConvertClient.class
/target/classes/com/nk/demo/feign/LuoBaoCarFeignClient.class
/target/classes/com/nk/demo/feign/ZkmlStaffFeignClient.class
/target/classes/com/nk/demo/mapper/AddressMapper.class
/target/classes/com/nk/demo/mapper/CarStatisticsMapper.class
/target/classes/com/nk/demo/mapper/PaperFileVersionMapper.class
/target/classes/com/nk/demo/mapper/UserMapper.class
/target/classes/com/nk/demo/ml/staff/BaseException.class
/target/classes/com/nk/demo/ml/staff/ErrorEnum.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoEduResponse.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoFamilyResponse.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoFileResponse$CertificateAttach.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoFileResponse.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoLangResponse.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoSkillResponse.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoTagResponse.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoTitleResponse$TitleFile.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoTitleResponse.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoTrainResponse.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject$UfStaffBaseInfoWorkExpResponse.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$DataObject.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse$FileObject.class
/target/classes/com/nk/demo/ml/staff/GetStaffBaseInfoResponse.class
/target/classes/com/nk/demo/ml/staff/JsonResult.class
/target/classes/com/nk/demo/ml/staff/OrgResponse.class
/target/classes/com/nk/demo/ml/staff/StaffResponse.class
/target/classes/com/nk/demo/ml/staff/StatusEnum.class
/target/classes/com/nk/demo/service/impl/AddressServiceImpl.class
/target/classes/com/nk/demo/service/impl/CarStatisticsServiceImpl.class
/target/classes/com/nk/demo/service/impl/PaperFileVersionServiceImpl.class
/target/classes/com/nk/demo/service/AddressService.class
/target/classes/com/nk/demo/service/CarStatisticsService.class
/target/classes/com/nk/demo/service/PaperFileVersionService.class
/target/classes/com/nk/demo/study/map/GaoDe.class
/target/classes/com/nk/demo/study/milvus/BaseMilvus.class
/target/classes/com/nk/demo/study/milvus/Test01DB.class
/target/classes/com/nk/demo/study/milvus/Test02Schema.class
/target/classes/com/nk/demo/study/milvus/Test03LoadCollection.class
/target/classes/com/nk/demo/study/milvus/Test04Entity.class
/target/classes/com/nk/demo/study/pc/Chicken.class
/target/classes/com/nk/demo/study/pc/Consumer.class
/target/classes/com/nk/demo/study/pc/Container.class
/target/classes/com/nk/demo/study/pc/Producer.class
/target/classes/com/nk/demo/study/pc/TestPC.class
/target/classes/com/nk/demo/study/quartz/Demo01.class
/target/classes/com/nk/demo/study/quartz/HelloJob.class
/target/classes/com/nk/demo/utils/ExcelPwdUtil$AttackMode.class
/target/classes/com/nk/demo/utils/ExcelPwdUtil.class
/target/classes/com/nk/demo/utils/IPUtil.class
/target/classes/com/nk/demo/utils/IpUtils.class
/target/classes/com/nk/demo/utils/NetworkUtils.class
/target/classes/com/nk/demo/utils/WatermarkingSystem.class
/target/classes/com/nk/demo/utils/WordPasswordCracker.class
/target/classes/com/nk/demo/DemoApplication.class
/target/classes/files/md/markdown.md
/target/classes/files/cabia.txt
/target/classes/models/en-sent.bin
/target/classes/models/en-token.bin
/target/classes/application.yml
/target/classes/test.properties
/.idea/compiler.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/target/test-classes/com/nk/demo/entity/AddressTest.class
/target/test-classes/com/nk/demo/entity/FileTest.class
/target/test-classes/com/nk/demo/entity/PaperFileTest.class
/target/test-classes/com/nk/demo/entity/UserTest.class
/target/test-classes/com/nk/demo/feign/CarFeignClientTest.class
/target/test-classes/com/nk/demo/feign/LuoBaoCarFeignClientTest.class
/target/test-classes/com/nk/demo/ocr/OCRTest.class
/target/test-classes/com/nk/demo/DeleteTest.class
/target/test-classes/com/nk/demo/DemoApplicationTests.class
/target/test-classes/com/nk/demo/FeignClientTest.class
